* {
  /* Xóa margin, padding và border mặc định */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
body {
  background-color: #2e3440;
}

.main {
  width: 300px;
  background-color: #eceff499;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  font-family: "Courier New", Courier, monospace;
}
.main:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(204, 19, 19, 0.3);
}
.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(189, 28, 28);
  margin: auto;
  object-fit: cover;
  margin-bottom: 20px;
}
.card img:hover {
  transform: scale(1.1);
  border-color: #88c0d0;
  box-shadow: 0 0 15px #88c0d0;
}
.one {
  font-size: 22px;
  color: rgba(194, 53, 53, 0.999);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 18px;
}
.two {
  font-size: 14px;
  font-weight: bold;
  color: rgba(10, 1, 61, 0.767);
  margin-bottom: 14px;
}
.three {
  color: black;
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 14px;
}
.socials a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.socials a:hover {
  color: #044285;
  text-shadow: 0 0 10px #044285, 0 0 20px #044285;
  transform: translateY(-4px);
}
